{{define "user/register.html"}}
{{template "header".}}
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <form class="form-signin" action="/register_action" id="mainForm">
            <h2 class="form-signin-heading">注册</h2>
            <label for="inputEmail" class="sr-only">用户名</label>
            <input type="email" id="inputEmail" name="email" class="form-control mb-15" placeholder="用户名" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" name="password" class="form-control mb-15" placeholder="密码" required>
            <label for="inputPassword_confirm" class="sr-only">确认密码</label>
            <input type="password" id="inputPassword_confirm" name="password_confirm" class="form-control mb-15" placeholder="确认密码" required>
            <button class="btn btn-primary btn-block" type="button" id="mainButton">注册</button>
            已有账号? 立即登录
            <a href="/login" class="btn btn-info btn-block">登录</a>
        </form>
    </div>
</div>

<script>
    $("#mainButton").click(function(){
        $.ajax({
            'url':$("#mainForm").prop('action'),
            type: "POST",
            dataType: "JSON",
            data: $("#mainForm").serialize(),
            processData: false,
            beforeSend: function () {
                //loading层
                loadingIndex = layer.load(1, {
                    shade: [0.3, '#000'] //0.1透明度的白色背景
                });
            },
            complete: function () {
                layer.close(loadingIndex);
            },
            success: function (res) {
                layer.alert("注册成功! 请登录", {}, function(){
                    location.href = "/"
                })
            },
            error: function (res) {
                $("#inputEmail").focus();
                layer.alert(res.responseJSON.msg, {icon: 2});
            }
        })
    })
</script>
{{template "footer"}}
{{end}}